@charset "UTF-8";
/* CSS Document */

*{
padding: 0px;
margin: 0px;
border: 0px;
box-sizing: border-box;
}

body, html
{
  height: 100%;
  font-family: Verdana, Geneva, sans-serif;
  background-color: #282b2d;
  color: #ffffff;
  text-decoration: none;
  scroll-behavior: smooth;
  overflow: hidden;
  margin: 0;
  height: 100vh;
  perspective: 1px;
  transform-style: preserve-3d;
  overflow-x:hidden;
  overflow-y:auto;
}
.parallax-wrapper {
    width: 100vw;
    height:100vh;
    padding-top:20vh;
    box-sizing: border-box;
    transform-style: preserve-3d;
}
.parallax-wrapper::before {
    content:"";
    width: 100vw;
    height: 100vh;
    top:0;
    left:0;
    background-image: url("https://verymanley.github.io/background01.jpg");
    position: absolute;
    z-index: -1;
    transform:translateZ(-1px) scale(2);
}
.regular-wrapper {
    width: 100vw;
    height:100vh;
    padding-top:20vh;
    z-index: 2;
    position: relative;
    background-color: #282b2d;
}
.content {
    margin: 0 auto;
    padding: 50px;
    width: 50%;
    background: #aaa;
}
